doctype
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='eiurur')
    title chrome extension

    link(href='../css/vendors/options.lib.css', rel='stylesheet')
    link(href='../css/options.css', rel='stylesheet')

  body
